/*  $Id$  */

/**
 * admin panel
 *
 */
#bbsmileadmin {
    margin: 1em 0;
}

#bbsmileadmin p.footer {
    margin-top: 2em; 
    text-align:center;
    font-size: 90%;
}

#bbsmileadmin label {
    padding: 3px 0;
}

#bbsmileadmin dl dt {
    display: block;
    float: left;
    text-align: right;
    width: 40%;
    padding: 0;
    margin: 0.5em;
    line-height: 2em;
}

#bbsmileadmin dl dd {
    display: block;
    float: left;
    text-align: left;
    width: 40%;
    margin: 0.5em;
    padding: 0;
    line-height: 2em;
}

/**
 * user interface
 *
 */

.noscript {
    background: #fff6bf url(../pnimages/exclamation.png) center no-repeat;
    background-position: 15px 50%; /* x-pos y-pos */
    text-align: left;
    padding: 5px 20px 5px 45px;
    border-top: 2px solid #ffd324;
    border-bottom: 2px solid #ffd324;
}

.bbsmile_smilies {
    display: none;
}
    
.bb_standardsmilies {
    margin-top: 1em;
    width: 300px;
}

img.bb_smilie {
    margin: 0 2px;
}

.bb_showhidesmilies {
    margin: 5px 0;
}
    
.bb_moresmilies {
    margin-bottom: 10px; 
    width: 300px; 
    height: 2em; 
    overflow: auto; 
    color: #00009C;  
    background: transparent;  
    border: none;
    display: block;
}

.hidden {
    display: none;
}

.shown {
    display: inline;
}

/*
 * clearfix solution
 */

.bbsmile_clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.bbsmile_clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .bbsmile_clearfix {height: 1%;}
.bbsmile_clearfix {display: block;}
/* End hide from IE-mac */

/* Overflow-Methode zum Clearen der Float-Umgebungen */
.bbsmile_floatbox { 
    overflow:hidden; 
}

/**
 * control_modal
 *
 */
#modal_container {
    padding:5px;
    background-color:#fff;
    border:1px solid #666;
    overflow:auto;
    font-family:"Lucida Grande",Verdana;
    font-size:12px;
    color:#333;
    text-align:left;
    height: 350px;
}

#modal_overlay {
    background-color:#000;
}
